@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

.alert {
    animation: showing 500ms ease-out, fadein 750ms ease-out;
    position: relative;
}

@keyframes showing {
    from {
        bottom: -10px;
    }

    to {
        bottom: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
}