@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.alert {
    animation: alertPopUp normal 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes alertPopUp {
    0% {
        margin-top: 25px;
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}