@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply min-h-screen grid grid-rows-[1fr,auto] auto-rows-fr;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgb(229 231 235) inset;
  box-shadow: 0 0 0px 1000px rgb(229 231 235) inset;
}
